* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.box_container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.box_link {
    text-decoration: none;
    color: inherit;
    width: 18%;  
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 15px;
}

.box img {
    padding-top: 20px;
    width: 100%;
    max-width: 140px;
}


.box_text {
    text-align: left;
}