* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Opens San', sans-serif;
}
body {
    padding-top: 0.2rem;
    line-height: 1.5;
    background-color: #F5F2E4;
}
.wrap_cards {
    max-width: 1100px;
    margin: 0 auto;
}
img {
    width: 100%;
    display: block;
} 
.front_image {
    overflow: hidden;
    height: 520px;
}
.image_showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.image_showcase img {
    min-width: 100%;
}
.select_image {
    display: flex;
}
.item {
    margin: 0.4rem;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3){
    margin-right: 0;
}
.item:hover {
    opacity: 0.8;
}
.content {
    padding: 2rem 1rem;
}
.title {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #5F132A;
    margin: 1rem 0;
}
.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
}
.rating {
    color: #FFC107;
}
.rating span{
    font-weight: 600;
    color: #252525;
}
.price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.price span {
    font-weight: 400;
}
.details h2 {
    text-transform: capitalize;
    color: #5F132A;
    padding-bottom: 0.6rem;
}
.details p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.details ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}
.details ul li {
    margin: 0;
    list-style: none;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.details ul li span {
    font-weight: 400;
}
.purchase input,
.purchase .button {
    border: 1.5px solid #DDD;
    border-radius: 5px;
  
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.purchase input {
    width: 60px;
}
.purchase button {
    cursor: pointer;
    color: #FFF;
}
.purchase button {
    background: #256EFF;
}
.purchase button:hover {
    opacity: 0.9;
}

.image_card {
    margin-top: 1rem;
    border-radius: 1.5rem;
}
.image_article {
    position: relative;
    overflow: hidden;
}
.hover_data {
    width: 480px;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9.5rem;

    margin-inline: auto;
    transition: opacity 1s 1s;
}
.ingredients {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
}
.image_article:hover .hover_data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.image_article:hover {
    animation: remove-overflow 2s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-8.5rem);
    }
}
@keyframes remove-overflow {
    to{
        overflow: initial;
    } 
}


@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .wrap_cards {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content {
        padding-top: 0;
    }
}
